* {
    box-sizing: border-box;
    max-width: 100%;
}


.row::after {
   content: "";
   clear: both;
   display: table;
}
[class*="col-"] {
   float: left;
   padding: 18px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
   background-image: url("http://acepokersolutions.com/poker-software/bovada-mods/APS-t1.jpg");
   background-repeat: no-repeat;
   background-size: 100%; 
}  

.message, h1 {
    margin: 15px;
    font-family: "Arvo", serif;
    font-size: 50px ;
    text-align: center;
    background: #111;
    color: rgba(248, 36, 36, 0.877);
}

.player-btn, .player {
    font-family: "Righteous", cursive;
    font-size: 25px;
    font-weight: bold;
}

button:hover {
    background-color: rgba(3, 231, 3, 0.3);
    box-shadow: inset 0 0 0 5px rgba(1, 121, 1, 0.9);
    border: 5px inset black;
}

.deal {
   background: blue;
}

.hit {
   background: green;  
}

.stay {
   background: red;   
}

.double {
   background: yellow;
}

.split {
   background: orange;
}

.upBet, .downBet {
   background: yellowgreen;
   font-size: 25px;
   font-weight: bold;
}

.wage, .bankTotal {
    font-family: "Orbitron", sans-serif;
    color: yellowgreen;
    font-size: 25px;
    background: rgba(0,0,0,.5);
}

.player {
   color: orangered;
   background: black;
   text-align: center;
}

.dTotal, .pTotal {
   font-size: 30px;
   color: green;
   background: rgba(0, 0, 0, 0.75);
   font-family: "Permanent Marker", cursive;
   border-radius: 5px 10px 15px 20px;
} 

.card {
    width: 8em;
    height: 14em;
    float: left;
}

.playerCards, .dealerCards {
    height: 14em;
}